

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@media (max-width: 767px) {
  body {
      padding: 0;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.cracked
{
  font-family:'chouse',Sans-Serif;
}

.cracked-main {
  font-size: 140px !important;
}

.cracked-menu {
  font-size: 80px !important;
  color: white !important;
}

.slider-horizontal {width: auto; margin:0px 80px; height:340px;}
.slider-horizontal .item {height:300px; width:200px; margin:0px 10px;}

.row-gap {
  padding-top: 40px;
  padding-bottom: 40px;
}

.row-halfgap {
  padding-top: 15px;
  padding-bottom: 15px;
}
.row-firstgap {
  padding-top: 40px;
  padding-bottom: 15px;
}
.row-lastgap {
  padding-top: 15px;
  padding-bottom: 40px;
}

.bg1{background-color:#4D4D4D}

.bg2{background-color:#854FAC}

.bg31{background-color:#ebb30e}
.bg32{background-color:#eba10e}
.bg33{background-color:#b8b511}
.bg34{background-color:#9BD916}

.bg4{background-color:#c7bfaf}

.bg5{background-color:#000000}










